@{
    ViewBag.Title = "Home Page";
}
<style>
    .shortbox{
            max-width: 200px!important;
            width: 75px !important;
    }
    .firstFive{
        background-color:#ffa5007a;
    }

    .secondTwo{
        background-color:#0000ff80;
    }

    .thirdGreen{
        background-color:#00800087;
    }
    thead{
        background-color:#22222212
    }
    select{
        width: 95%;
        height: 27px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div>
           <ul>
               <li><a href="~/Home/BMU">BURNER MODULATION ASSESSMENT</a></li>
               <li><a href="~/Home/Light">LIGHTING ASSESSMENT</a></li>
               <li><a href="~/Home/LTHW">LTHW PIPEWORK INSULATION ASSESSMENT</a></li>

           </ul>
        </div>       
    </div>   
</div>